@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Young+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Young Serif', serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 3, 3, 0.755);
}

.game_infos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;

}

.container{
    height: 400px;
    width: 500px;
    border: 2px solid red;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    
}

#target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0.25s;
    animation: animateTarget 10s infinite;
}

button{
    padding: 10px 20px ;
    margin-bottom: 20px;
    background-color: royalblue;
    border: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

@keyframe animateTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}

